

.top{
	background-image: url(../img/anli_top.png);
	-webkit-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
}
.head{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: initial;
	-ms-transition-duration: 0.5s;
	-ms-transition-timing-function: ease-in-out;
	-ms-transition-delay: initial;
}
.content{
	height: auto;
	padding-bottom: 20rem;
	padding-top: 15rem;
	text-align: center;
	color: #FFFFFF;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
}
.content a{
	opacity: 0;
	animation: fade-in 2s ease 0s 1;
	animation-fill-mode: forwards;
	-webkit-animation: fade-in 2s ease 0s 1;
	-ms-animation: fade-in 2s ease 0s 1;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	letter-spacing: .5rem;
	font-size: 4.3rem;
	line-height: 5rem;
	font-weight: 0;
}
@keyframes fade-in{
	0%{ opacity: 0;}
	100%{opacity: 1;}
}
@-ms-keyframes fade-in{
	0%{ opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes fade-in{
	0%{ opacity: 0;}
	100%{opacity: 1;}
}
.center{
	padding-top: 100px;
	width: 1200px;
	height: auto;
	padding-bottom: 110px;
	margin: 0 auto;
  	display: flex;
  	flex-wrap: wrap;
  	align-content: space-between;
}
.anli_title{
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 60px;
}
.anli_content{
	font-size: 16px;
	color: #1A1A1A;
	margin-top: 90px;
	margin-left: 30px;
	margin-right: 30px;
	line-height: 24px;
}
.top-left .anli_content{
	text-align: center;
}
.top-left{
	width: 362px;
	height: 452px;
	background-image: url(../img/anli-1.png);
	background-size: 100% 100%;
}
.top-center{
	width: 362px;
	height: 452px;
	margin-left: 57px;
	background-image: url(../img/anli-2.png);
	background-size: 100% 100%;
}
.top-right{
	width: 362px;
	height: 452px;
	margin-left: 57px;
	background-image: url(../img/anli-3.png);
	background-size: 100% 100%;
}
.bottom-left{
	width: 362px;
	height: 452px;
	margin-top: 60px;
	background-image: url(../img/anli-1.png);
	background-size: 100% 100%;
}
.bottom-right{
	width: 362px;
	height: 452px;
	margin-left: 57px;
	margin-top: 60px;
	background-image: url(../img/anli-2.png);
	background-size: 100% 100%;
}
@media screen and (max-width: 1366px) {
	.center{
		margin: 0 auto;
	}
}
@media screen and (max-width: 1200px) {
	.content a{
		font-size: 4rem;
	}
	.center{
		width: 781px;
	}
	.top-right{
		margin-top: 60px;
		margin-left: 0;
	}
	.bottom-left{
		margin-left: 57px;
	}
	.bottom-right{
		margin-left: 0;
	}
}
@media screen and (max-width: 900px) {
	.content a{
		font-size: 3.5rem;
	}
	.center{
		width: 670px;
		margin: 0 auto;
	}
	.top-left{
		width: 320px;
		height: 400px;
	}
	.top-center{
		width: 320px;
		height: 400px;
		margin-left: 30px;
	}
	.top-right{
		width: 320px;
		height: 400px;
	}
	.bottom-left{
		width: 320px;
		height: 400px;
		margin-left: 30px;
	}
	.bottom-right{
		width: 320px;
		height: 400px;
	}
}
@media screen and (max-width: 700px) {
	.content{
		height: auto;
		padding-bottom: 15rem;
	}
	.content a{
		line-height: 4rem;
		font-size: 2.5rem;
	}
	.center{
		width: 400px;
		margin: 0 auto;
	}
	.top-left{
		margin:  0 auto;
	}
	.top-center{
		margin: 0 auto;
		margin-top: 60px;
	}
	.top-right{
		margin:  0 auto;
		margin-top: 60px;
	}
	.bottom-left{
		margin:  0 auto;
		margin-top: 60px;
	}
	.bottom-right{
		margin:  0 auto;
		margin-top: 60px;
	}
} 
@media screen and (max-width:500px ) {
	.content{
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
	.content a{
		line-height: 3rem;
		font-size: 2rem;
	}
	.center{
		width: 300px;
		margin: 0 auto;
		text-align: center;
	}
	.anli_title{
		font-size: 20px;
	}
}