.top{
	background-image: url(../img/jiejue-background.png);
	-webkit-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
}
.head{
	-webkit-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	-webkit-transition-delay: initial;
	-ms-transition-delay: initial;
}
.content{
	height: auto;
	padding-bottom: 123px;
	/*padding-top: 15rem;*/
	/*text-align: center;*/
	color: #FFFFFF;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
}
.content ul{
	margin-top: 20px;
}
.content ul li{
    display:inline-block ;
	/*margin-top: 20px;*/
	margin-right: 40px;
	padding-bottom: 10px;
}
.content .tite{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 81px;
	opacity: 0;
	animation: fade-in 2s ease 0s 1;
	-webkit-animation: fade-in 2s ease 0s 1;
	-ms-animation: fade-in 2s ease 0s 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
}
.content h1{
	font-size: 48px;
	font-weight: 500;
	letter-spacing: 12px;
	margin-right: 10px;
	
}
.content .tite div p{
	font-size: 18px;
	margin-top: 20px;
	letter-spacing: 5px;
}
.content ul li:first-child{
	border-bottom: 2px solid #0096FF;
}
.content ul li a{
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 2px;
	
}
@keyframes fade-in{
	0%{ opacity: 0;}
	100%{opacity: 1;}
}
@-ms-keyframes fade-in{
	0%{ opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes fade-in{
	0%{ opacity: 0;}
	100%{opacity: 1;}
}
.center{
	width: 63%;
	/*height: 112rem;*/
	padding-top: 100px;
	/*text-align: center;*/
	margin: 0 auto;
}
.center>div{
	margin-bottom: 100px;
}
.center .business>div,.center .whole>div,.center .development>div,.center .test>div,.center .maintain>div{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	width: 100%;
}

.center h3{
	font-size: 30px;
	color: #1a1a1a;
	font-weight: 500;
	letter-spacing: 10px;
	margin-left: 20px;
}
.center p{
	font-size: 18px;
	color: #1A1A1A;
	letter-spacing: 3.5px;
}
.center  .short-word{
	margin-top: 40px;
}
.center  .long-word{
	margin-top: 30px;
	color: #666666;
	width: 100%;
}
.center p span{
	color: #0096FF;
}
.center .langline{
	/*width: 990px;*/
	width: 80%;
	height: 2px;
	background-color: #99ddff;
	margin-top: 10px;
}
.center .business>img{
	display: block;
	margin: 0 auto;
	margin-top: 76px;
	/*margin-bottom: 100px;*/
	width: 60%;
}
.top-left{
	width: 45%;
	float: left;
	text-align: center;
}
.top-left p{
	font-size: 25px;
	margin-bottom: 2rem;
}
.guihua{
	background-color: #E8F0FF;
	width: 80%;
	margin: 0 auto;
	padding: 2.5rem;
	font-size: 15px;
}
.top-right{
	width: 45%;
	float: right;
	text-align: center;
}
.top-right p{
	font-size: 25px;
	margin-bottom: 2rem;
}
.sheji{
	background-color: #E8F0FF;
	width: 80%;
	margin: 0 auto;
	padding: 2.5rem;
	font-size: 15px;
}
.center-bottom{
	margin: 0 auto;
	width: 70%;
	display: flex;
	display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding-top: 5rem;
}
.bottom-left{
	width: 30%;
	float: left;
}
.bottom-left p{
	font-size: 25px;
	margin-bottom: 2rem;
}
.kaifa{
	background-color: #E8F0FF;
	width: 80%;
	margin: 0 auto;
	padding: 2.5rem;
	font-size: 15px;
}
.bottom-center{
	width: 30%;
	/*margin: 0 auto;*/
}
.bottom-center p{
	font-size: 25px;
	margin-bottom: 2rem;
	/*margin-top: 25rem;*/
}
.ceshi{
	background-color: #E8F0FF;
	width: 80%;
	margin: 0 auto;
	padding: 1.6rem 2.5rem;
	font-size: 15px;
}
.bottom-right{
	width: 30%;
	float: right;
}
.bottom-right p{
	font-size: 25px;
	margin-bottom: 2rem;
}
.weihu{
	background-color: #E8F0FF;
	width: 80%;
	padding: 2.5rem;
	font-size: 15px;
}
@media screen and (max-width: 1800px) {
	.center .langline{
		width: 77%;
	}
}
@media screen and (max-width: 1600px) {
	.center .langline{
		width: 75%;
	}
}
@media screen and (max-width: 1450px) {
	.center .langline{
		width: 73%;
	}
}

@media screen and (max-width: 1393px) {
	.center .langline{
		width: 70%;
	}
}
@media screen and (max-width: 1366px) {
	.content ul li {
    padding-bottom: 7px;
}
	.content ul li a{
		font-size: 13px;
	}
}
@media screen and (max-width: 1200px) {
	.content ul{
		display: flex;
		justify-content: center;
	}
	
	.content .tite .img img{
		width: 80%;
		display: block;
		margin: 0 auto;
	}
	.center .langline{
		width: 66%;
	}
	.content h1{
		font-size: 4rem;
	}
	.center h3{
		font-size: 2rem;
	}
	.center p{
		font-size: 15px;
	}
	
}

@media screen and (max-width: 931px) {
	.center .langline{
		width: 62%;
	}
	.center .business>img{
		width: 80%;
	}
}
@media screen and (max-width: 900px) {
	.content .tite .img img{
		width: 70%;
	}
	.content h1{
		font-size: 3.5rem;
	}
	.center h3{
		font-size: 1.5rem;
	}
	.center p{
		font-size: 12px;
	}
	.center .langline{
		width: 60%;
	}
}
@media screen and (max-width: 700px) {
	.content .tite{
		margin-top: 50px;
	}
	.content ul li {
    padding-bottom: 5px;
}
	.content ul li a{
		font-size: 10px;
	}
	.content .tite .img img{
		width: 60%;
	}
	.content h1{
		font-size: 2.5rem;
	}
	.center{
		width: 80%;
	}
	.center .business>img{
		margin-top: 50px;
	}
}
@media screen and (max-width: 555px) {
	.center .langline{
		width: 50%;
	}
}
@media screen and (max-width: 500px) {
	.content{
		padding-bottom: 4rem;
	}
	.content .tite .img img{
		width: 50%;
	}
	.content h1{
		font-size: 2rem;
	}
	.center>div{
	margin-bottom: 50px;
    }
    .center{
    	padding-top: 50px;
    }
    .center h3{
		letter-spacing: 7px;
		margin-left: 4px;
	}
}
@media screen and (max-width: 429px) {
	.content{
		padding-bottom: 2rem;
	}
	.content .tite{
		margin-top: 25px;
	}
}
@media screen and (max-width: 376px) {
	.center .langline{
		width: 40%;
	}
	
}
