*{
	margin: 0px;
}
html{
	display: block;
	margin-top: 0px;
	margin-left: 0px; 
	width: 100%;
	font-family:"微软雅黑";
	font-size: 12px;
}
.top{
	width: 100%;
	height: 560px;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	transition-duration: 0.4s;
}
.head{
	color: #FFFFFF;
	height: 80px;
	box-sizing: border-box;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	transition-delay: initial;
	z-index: 1;
}
.head:hover{
	background-color:rgba(0,0,0,0.5);
}
.logo{
	float: left;
	width: 130px;
	height: auto;
	margin-top: 20px;
	margin-left: 40px;
}
.logo img{
	width: 100%;
	height: auto;
	cursor: pointer;
}
.daohang{
	float: right;
	list-style-type: none;
	margin-top: 2.2rem;
}
.daohang li{
	text-align: right;
	display: inline-block;
	font-size: 20px;
	font-weight: 550;
	padding-bottom: 2rem;
}
.daohang li:hover{
	border-bottom:solid #0096FF;
	
}
.daohang li a{
	padding-left: 30px;
	text-decoration: none;
}

.daohang li a:after{
	content: '';
    display: inline-block;
    height: 1.2rem;
    width: 2px;
    background-color: rgba(255,255,255,0.3);
    margin-left: 30px;
}
.daohang li a:link,
.daohang li a:visited{
	color: white;
}
.daohang li input{
	font-size: 20px;
	color: #FFFFFF;
	border: 0px;
	background-color: #0096ff ;
	border-radius:2px;
	width: 100px;
	height: 40px;
	font-weight: 550;
	cursor: pointer;
	margin-top: -5px;
	letter-spacing: .3rem;
	margin-left: 30px;
	margin-right: 30px;
	-webkit-appearance: none;
	margin-bottom: -0.7rem;
}
.line{
	width: 40px;
	height: 6px;
	background: #0096FF;
	margin: 0 auto;
	margin-top: 20px;
}
/*.daohang li input:hover{
	background-color:rgba(0,0,0,0.00001);
}*/
.bottom{
	animation: fade-in 2s ease 0s 1;
	animation-fill-mode: forwards;
	width: 100%;
	height: 380px;
	margin-top: 100px;
	background-color: #394455;
}
.bottom-lianjie{
	position: absolute;
	float: left;
	width: 70%;
	margin-left: 12%;
}
.lianjie{
	position: absolute;
	width: 100%;
	float: left;
	padding-top:100px;
}
.lianjie li{
	cursor: pointer;
	list-style: none;
	display: inline;
}
.lianjie li a{
	padding-left: 60px;
	color: white;
	font-size: 18px;
	text-decoration: none;
}
.tubiao{
	position: absolute;
	width: 100%;
	clear: left;
	padding-left:100px;
	margin-top: 21rem;
}
.youxiang{
	float: left;
	height: 4rem;
	width: 4rem;
	background-color: #000000;
	border-radius: 3rem;
	overflow: hidden;
	cursor: pointer;
	transition-duration: 1.5s;
}
.youxiang-img{
	position: absolute;
	margin-top: 1.2rem;
	margin-left: 1rem;
}
.youxiang-content{
	width: 20rem;
	padding-left: 4rem;
	padding-top: 1rem;
	color: #FFFFFF;
	font-size: 1.5rem;
}
.youxiang-content a{
	text-decoration: none;
	color: #FFFFFF;
}
.youxiang:hover{
	width: 23rem;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-ms-transition-duration: 1s;		
}	
.dianhua{
	margin-left:22px;
	float: left;
	height: 4rem;
	width: 4rem;
	background-color: #000000;
	border-radius: 3rem;
	overflow: hidden;
	cursor: pointer;
	transition-duration: 1.5s;
}
.dianhua-img{
	position: absolute;
	margin-top: 1.1rem;
	margin-left:1.3rem;
}
.dianhua-content{
	width: 15rem;
	height: 4rem;
	padding-left: 4rem;
	padding-top: 1rem;
	color: #FFFFFF;
	font-size: 1.5rem;
}
.dianhua:hover{
	width: 17rem;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-ms-transition-duration: 1s;	
}	
.dizhi{
	margin-left:22px;
	float: left;
	height: 4rem;
	width: 4rem;
	background-color: #000000;
	border-radius: 30px;
	overflow: hidden;
	cursor: pointer;
	transition-duration: 1.5s;
}
.dizhi-img{
	position: absolute;
	margin-top: 1.1rem;
	margin-left:  1.3rem;
}
.dizhi-content{
	width: 35rem;
	height: 4rem;
	padding-left: 4rem;
	padding-top: 2.5px;
	font-size: 1.3rem;
	color: #FFFFFF;
}
.dizhi:hover{
	width: 24rem;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-ms-transition-duration: 1s;	
}
.erweima{
	position: absolute;
	width: auto;
	height: auto;
	float: right;
	margin-left: 90%;
	margin-top: 130px;
}
.erweima img{
	width: 100%;
	height: auto;
}
.footing{
	animation: fade-in 2s ease 0s 1;
	animation-fill-mode: forwards;
	background-color: #2f3949;
	width: 100%;
	height: auto;
	text-align: center;
	color: #999999;
	padding-bottom: 3rem;
	padding-top: 3.2rem;
	line-height: 2.5rem;
	letter-spacing: 0;
	font-size: 14px;
}
@media screen and (max-width: 1366px) {
	.daohang li{
		font-size:20px;
	}
	.logo{
		width: 12rem;
		margin-top: 1.5rem;
	}
	.daohang li a{
		padding-left: 20px;
	}
	.daohang li a:after{
		margin-left: 20px;
	}
	.lianjie li a{
		padding-left: 30px;
	}
	.tubiao{
		margin-top: 21rem;
		padding-left: 70px;
	}
	.erweima{
		margin-top: 12rem;
	}
}
@media screen and (max-width: 1200px) {
	.head{
		margin: 0;
		padding: 0;
		height: 7rem;
	}
	.head:hover{
		background: rgba(0,0,0,0);
	}
	.logo{
		position: absolute;
		width: 11rem;
		height: 5rem;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
    	margin-top: 2rem;
		clear: left;
	}
	.daohang{
		width: 100%;
    	text-align: center;
		margin-top:7.5rem;
		clear: right;
	}
	.daohang li{
		font-size: 1.6rem;
	}
	.daohang li:hover{
		border-bottom: none;
	}
	.daohang li a{
		padding-left: 1.7rem;
	}
	.daohang li a:after{
    	margin-left: 2rem;
	}
	.daohang li input{
		width: 7rem;
		height: 3rem;
		margin: 0;
		margin-left: 1.7rem;
	}
	.bottom-lianjie{
		margin-top: -1rem;
	}
	.lianjie{
		width: 100%;
	}
	.lianjie li a{
		padding-left: 10px;
		font-size: 1.5rem;
	}
	.tubiao{
		margin-top: 20.5rem;
		margin-left: 0px;
		padding-left: 50px;
	}
	.erweima{
		width: 10rem;
		margin-top: 13rem;
	}
}
@media screen and (max-width: 900px) {
	.logo{
		width: 10rem;
		margin-top: 2.2rem;
	}
	.daohang li{
		font-size: 1.5rem;
	}
	.daohang li a{
		padding-left: 1rem;
	}
	.daohang li a:after{
    	display: inline-block;
    	width: 0rem;
    	margin-left: 1rem;
	}
	.daohang li input{
		width: 6rem;
		height: 2.5rem;
		font-size: 1.5rem;
	}
	.lianjie{
		width: 100%;
	}
	.lianjie li a{
		padding-left: 2%;
	}
	.erweima{
		width: 10rem;
		margin-top: 15rem;
		margin-left: 68%;
	}
	.tubiao{
		margin-top: 15rem;
	}
	.dianhua{
		clear: left;
		margin-left: 0;
		margin-top: 1rem;
	}
	.dizhi{
		clear: left;
		margin-left: 0;
		margin-top: 1rem;
	}
}
@media screen and (max-width: 700px) {
	.logo{
		width: 9rem;
	}
	.daohang li{
		font-size: 1.3rem;
		letter-spacing: .3rem;
	}
	.daohang li a{
		padding-left: 5px;
		padding-right: 5px;
	}
	.daohang li a:after{
    	margin-left: 0px;
	}
	.daohang li input{
		font-size: 1.3rem;
		margin-left: 1rem;
		width: 4rem;
		height: 2.5rem;
	}
	.bottom{
		padding-bottom:0;
	}
	.lianjie{
		width: 95%;
		margin: 0 auto;
		padding-left:2rem;
	}
	.lianjie li a{
		padding-left: 1%;
		font-size: 1.3rem;
	}
	.tubiao{
		padding-left: 24px;
	}
	.erweima{
		margin-top: 14rem;
	}
} 
@media screen and (max-width:500px ) {
	.logo{
		width: 9rem;
		height: 3rem;
	}
	.daohang{
		margin-top: 5rem;
		z-index: 99;
	}
	.daohang li{
		letter-spacing: 0rem;
	}
	.daohang li a{
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		font-size: 1rem;
	}
	.daohang li input{
		margin: 0;
		font-size: 1rem;
		height: 2rem;
		
	}
	.bottom{
		height: 600px;
	}
	.bottom-lianjie{
		padding-left:0 ;
		width: 80%;
	}
	.lianjie{
		padding-top: 3rem;
		padding-left: 0;
		width: 100%;
	}
	.lianjie li{
		display: block;
	}
	.lianjie li a{
		font-size: 1.5rem;
		line-height: 4rem;
	}
	.tubiao{
		margin-top: 30rem;
		padding-left: 0;
	}
	.youxiang{
		float: left;
	}
	.erweima{
		width: 0rem;
		margin-left: 13rem;
	}
	.footing p{
		font-size: 1rem;
		letter-spacing: 0;
	}
}